.wpsleh-row-template, .wpsleh-store-closed, .wpsleh-period-template, .wpsleh-custom-day-template {
    display: none;
}
.wpsleh-store-hours {
    width: 100%;
    border: 1px solid rgba(0,0,0, 0.5);
}
.wpsleh-store-hours tr {
    border-bottom: 1px solid #000;
}
.wpsleh-row:nth-child(odd) {
    background: rgba(0, 0, 0, 0.12);
}
.wpsleh-store-closed {
    width: 100%;
    text-align: center;
}
.wpsleh-store-hours tr td:nth-child(3) {
    text-align: center;
}

.wpsleh-add-period, .wpsleh-remove-period, .wpsleh-add-custom-row {
    display: inline-block;
}

.wpsleh-row-seperator {
    padding-left: 15px;
}
.ib {
    display: inline-block;
}

.wpsleh-remove-custom-row, .wpsleh-remove-period {
    color: #a00;
}

.post-item table.wpsl-expanded-hours td:first-child {
    padding-left: 0;
}

.wpsl-hidden-accessible {
    border: 0!important;
    clip: rect(0 0 0 0)!important;
    -webkit-clip-path: inset(50%)!important;
    clip-path: inset(50%)!important;
    height: 1px!important;
    overflow: hidden!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
    white-space: nowrap!important;
}



/**** ==== Slider v2 ==== ****/

/********** Background:*/
.slider-v2 {
    position: relative;
    display: inline-block !important;
    width: 5.5em;
    height: 2em;
    cursor: pointer;
    border-radius: 1em;
    transition: 350ms;
    background: linear-gradient(rgba(0,0,0,0.07),rgba(255,255,255,0)),#ddd;
    box-shadow:
            0 0.07em 0.1em -0.1em rgba(0,0,0,.4) inset,
            0 0.05em 0.08em -0.01em rgba(255,255,255,.7);
}

/********** Switch:*/
.slider-v2::after {
    position: absolute; content:'';
    width: 1.5em; height: 1.5em;
    top: 0.25em; left: 0.25em;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    background: linear-gradient(#f5f5f5 10%,#eee);
    box-shadow:
            0 0.1em 0.15em -0.05em rgba(255,255,255,.9
            ) inset,
            0 0.2em 0.2em -0.12em rgba(0,0,0,.5);
}

/********** Channel:*/
.slider-v2::before {
    position: absolute; content:'';
    width: 4.5em; height: 1em;
    top: 0.5em; left: 0.5em;
    border-radius: 0.75em;
    transition: 250ms ease-in-out;
    background: linear-gradient(rgba(0,0,0,0.07),rgba(255,255,255,0.1)),#d0d0d0;
    box-shadow:
            0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
            0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
            0 0 0 0 rgba(74,144,226,.7) inset;
}

input:checked + .slider-v2::before {
    box-shadow:
            0 0.08em 0.15em -0.1em rgba(0,0,0,.5) inset,
            0 0.05em 0.08em -0.01em rgba(255,255,255,.7),
            3.5em 0 0 0 rgba(74,144,226,.7) inset;
}

input:checked + .slider-v2::after {
    left: 3.75em;
}